---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false

# Line length and breaks
ColumnLimit: 100
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

# Spacing
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^\".*\\.hpp\"$'
    Priority: 1
  - Regex: '^\".*\\.h\"$'
    Priority: 2
  - Regex: '^\".*\\.cpp\"$'
    Priority: 3
  - Regex: '^<.*\\.h>$'
    Priority: 4
  - Regex: '^<.*\\.hpp>$'
    Priority: 5
  - Regex: '^<.*>$'
    Priority: 6
  - Regex: '.*'
    Priority: 7

# Functions and methods
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

# Comments
ReflowComments: true
SpacesBeforeTrailingComments: 2

# Other
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# C++ specific
NamespaceIndentation: None
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4

# Access modifiers
AccessModifierOffset: -4
IndentAccessModifiers: false

# Template formatting
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: true

# Penalty settings for better formatting decisions
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

# Experimental features
ExperimentalAutoDetectBinPacking: false
BinPackArguments: true
BinPackParameters: true

# Standard
Standard: c++17

